# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "3"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  /work-cuteradio/cuteradio/sources/poky/meta \
  /work-cuteradio/cuteradio/sources/poky/meta-poky \
  /work-cuteradio/cuteradio/sources/meta-openembedded/meta-oe \
  /work-cuteradio/cuteradio/sources/meta-openembedded/meta-python \
  /work-cuteradio/cuteradio/sources/meta-raspberrypi \
  /work-cuteradio/cuteradio/sources/meta-qt5 \
  /work-cuteradio/cuteradio/sources/meta-cuteradio \
"

