# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  /home/cuteradio/yocto/input/cuteradio/sources/poky/meta \
  /home/cuteradio/yocto/input/cuteradio/sources/poky/meta-poky \
  /home/cuteradio/yocto/input/cuteradio/sources/meta-openembedded/meta-oe \
  /home/cuteradio/yocto/input/cuteradio/sources/meta-openembedded/meta-python \
  /home/cuteradio/yocto/input/cuteradio/sources/meta-raspberrypi \
  /home/cuteradio/yocto/input/cuteradio/sources/meta-qt5 \
  /home/cuteradio/yocto/input/cuteradio/sources/meta-cuteradio \
"

